

a[data-tool-tip]::after{
content: attr(data-tool-tip);
display: block;
postition: absolute;
background-color: $clr-gray;
padding:1em 3em;
color: white;
border-radius: 5px;
font-size: .8em;
bottom:0;
left: 0;
white-space: nowrap;
transform: scale(0);
transition: transform ease-out 150ms, bottom ease-out 150ms;
}

a[data-tool-tip]:hover::after {
	transform: scale(1);
}