.button_container {
    width: 126;
    max-height: 36px;
    overflow:hidden;
    margin: 0px 5px;
}

.button {
    outline: none;
    border: none;
    border-radius: 3px;
    line-height: 20px;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    padding: 0.5em 2em;
    transition: 300ms;
    width: 100%;
    height: 100%;
}

.button:hover {
    transition: 300ms;
}

.off:hover,
.off {
    background-color: #e2e2e2;
    color: #ffffff;
    pointer-events:none;
}

.on {
    background-color: #3768E5;
    color: #E2E2E2;
    cursor: pointer;
}

.on:hover {
    background-color: #2a50b1;
}

.button_group {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

#delete_button {
    background-color:#e2e2e2;
    color: #ffffff;
    transition: 300ms;
}

#delete_button:hover {
    background-color: #b12a2a;
    transition: 300ms;
}

#add_website {
    justify-content: flex-end;
}

#add_website_submit {
    width: 80px;
}