.output_message * {
    margin: 5px 5px;
    background-color: #e53737;
    color: #E2E2E2;
    outline: none;
    border: none;
    border-radius: 3px;
    line-height: 20px;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    padding: 0.5em 2em;
    transition: 300ms;
    width: fit-content;
}
