

form {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

form div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.text_entry {
    display: flex;
    flex-direction:column;
}

.text_entry label {
    font-size: large;
    margin:1em 0.5em 0.1em 0.5em;
}

.text_entry input {
    background: #D9D9D9;
    border-radius: 3px;
    border-color: #ffffff;
    margin: 5px;
    padding: 0.2em 0.5em;
    height: 32px;
    line-height:32px;
    transition: 300ms;
    resize:none;
    border-width: 0px;
    font-family: 'san-serif';
    font-size: medium;
}

.text_entry input:hover, .text_entry input:focus-visible{
    background-color: #bbbbbb;
    transition: 300ms;
    border-width:0px;
    outline: none;
}