.icon {
    width: 28px;
    height: 28px;
}

.popupsearchicon {
    margin: 0.5em;
    transition: 300ms;
}

.popupsearchicon:hover {
    width: 32px;
    height: 32px;
    transition: 300ms;
}

.message {
    overflow: hidden;
    margin: 3px;
}

.popupmessagebox {
    position:relative;
    width: 100px;
    height: fit-content;
    border: solid 1px;
}

.eye-icon {
    content: url("icons/eye-icon/eye-icon-128.png");
}

.ads {
    content: url("icons/ads_warning_icon.png");
}

.bias {
    content: url("icons/bias_warning_icon.png");
}

.paywall {
    content: url("icons/paywall_warning_icon.png");
}

.pg13 {
    content: url("icons/pg13_warning_icon.png");
}

.security {
    content: url("icons/security_warning_icon.png");
}

.subscription {
    content: url("icons/subscription_warning_icon.png");
}

.cookie {
    content: url("icons/cookie.png");
}

.ads_popup,
.bias_popup,
.paywall_popup,
.pg13_popup,
.security_popup,
.subscription_popup,
.cookie_popup {
    display: none;
}


